
@using Microsoft.AspNetCore.Identity
@using RealEstate.Areas.Identity.Data
@inject SignInManager<RealEstateUser> SignInManager
@inject UserManager<RealEstateUser> UserManager
@{
    ViewData["Title"] = "Dashboard";
}

<div class="dashboard_sidebar_menu dn-992">
    <ul class="sidebar-menu">
        <li class="header"><img src="~/images/header-logo2.png" alt="header-logo2.png"> FindHouse</li>
        <li class="title"><span>Main</span></li>
        <li class="treeview"><a href="#"><i class="flaticon-layers"></i><span> Dashboard</span></a></li>
        <li>
            <a asp-controller="Properties" asp-action="Index"><i class="flaticon-home"></i> <span>My Properties</span></a>

        </li>
        <li>
            <a asp-controller="Reviews" asp-action="Index"><i class="flaticon-chat"></i><span> Reviews</span></a>

        </li>
        <li>
            <a asp-controller="Contacts" asp-action="Index"><i class="flaticon-chat"></i><span> Complaints</span></a>

        </li>
        <li><a href="https://localhost:44308/Identity/Account/Manage"><i class="flaticon-user"></i> <span>My Profile</span></a></li>
        <li><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"><i class="flaticon-logout"></i> <span>Logout</span></a></li>
    </ul>
</div>


<!-- Our Dashbord -->
<section class="our-dashbord dashbord bgc-f7 pb50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xl-2 dn-992 pl0"></div>
            <div class="col-lg-9 col-xl-10 maxw100flex-992">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="dashboard_navigationbar dn db-992">
                                <div class="dropdown">
                                    <button onclick="myFunction()" class="dropbtn"><i class="fa fa-bars pr10"></i> Dashboard Navigation</button>
                                    <ul id="myDropdown" class="dropdown-content">
                                        <li class="active"><a asp-action="Dashboard" asp-controller="Home"><span class="flaticon-layers"></span> Dashboard</a></li>
                                        <li><a asp-controller="Properties" asp-action="AllProperties"><span class="flaticon-home"></span> My Properties</a></li>
                                        <li><a asp-controller="Reviews" asp-action="Index"><span class="flaticon-home"></span> My Reviews</a></li>
                                        <li><a href="https://localhost:44308/Identity/Account/Manage"><span class="flaticon-user"></span> My Profile</a></li>
                                        <li><a asp-controller="Properties" asp-action="Create"><span class="flaticon-filter-results-button"></span> Add New Property</a></li>
                                        <li><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"><span class="flaticon-logout"></span> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        
                            <div class="col-lg-12 mb10">
                                <div class="breadcrumb_content style2">
                                </div>
                                @if (SignInManager.IsSignedIn(User))
                                {

                                    var user = await UserManager.FindByNameAsync(User.Identity.Name);
                                    var mail = User.Identity.Name;
                                    var position = mail.IndexOf("@");
                                    var name = mail.Substring(0, position);
                                    <h2 class="breadcrumb_title">Hello, @name !</h2>
                                    <p>We are glad to see you again!</p>
                                }
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                            <div class="ff_one">
                                <div class="icon"><span class="flaticon-home"></span></div>
                                <div class="detais">
                                    <div class="timer">@ViewBag.PropCount</div>
                                    <p>All Properties</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                            <div class="ff_one style2">
                                <div class="icon"><span class="flaticon-view"></span></div>
                                <div class="detais">
                                    <div class="timer">@ViewBag.ComplaintCount</div>
                                    <p>Total Complaints</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                            <div class="ff_one style3">
                                <div class="icon"><span class="flaticon-chat"></span></div>
                                <div class="detais">
                                    <div class="timer">@ViewBag.ReviewCount</div>
                                    <p>Total Visitor Reviews</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
                            <div class="ff_one style4">
                                <div class="icon"><span class="flaticon-heart"></span></div>
                                <div class="detais">
                                    <div class="timer">@ViewBag.ReviewRateCount</div>
                                    <p>Total Reviews With Rate 5</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="row mt50">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="copyright-widget text-center">
                            <p>© 2021 Find House. Made with love.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<a class="scrollToHome" href="#"><i class="flaticon-arrows"></i></a>

