@model IEnumerable<RealEstate.Models.Contact>

@{
    ViewData["Title"] = "Index";
}


<h1 style="text-align:center">All Commplaints</h1>

<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th>
                    @Html.DisplayName("Edit")
                </th>
                <th>
                    @Html.DisplayName("Details")
                </th>
                <th>
                    @Html.DisplayName("Delete")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ClientId">Details</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.ClientId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

